<div class="container">
  <form [formGroup]="form" (ngSubmit)="submit()">
    <h1>Angular Forms</h1>

    <div class="card shadow-sm p-3 mb-5 bg-body rounded">
      <h4>Data Layer Name</h4>
      <input
        type="text"
        class="form-control mb-3"
        formControlName="dataLayer"
      />
    </div>

    <div class="card shadow-sm p-3 mb-5 bg-body rounded">
      <h4>Dark Background Color</h4>
      <input type="radio" value="" name="darkMode" formControlName="darkMode" />
      <label for="no">No</label>

      <input
        type="radio"
        value="true"
        name="darkMode"
        formControlName="darkMode"
      />
      <label for="yes">Yes</label>
    </div>

    <div class="card shadow-sm p-3 mb-5 bg-body rounded">
      <h4>Primary Color</h4>
      <input type="color" formControlName="primaryColor" />
    </div>

    <div class="card shadow-sm p-3 mb-5 bg-body rounded">
      <h4>Border Radius</h4>
      <input
        type="number"
        class="form-control mb-3"
        formControlName="borderRadius"
      />
      <div
        *ngIf="
          form.get('borderRadius')?.invalid && form.get('borderRadius')?.touched
        "
        class="validation"
      >
        <small> Border Radius can not be empty </small>
      </div>
    </div>

    <div class="card shadow-sm p-3 mb-5 bg-body rounded">
      <h4>Closs The Precen</h4>
      <select formControlName="closeType" class="form-control mb-3">
        <option value=""></option>
        <option value="cross">cross</option>
        <option value="tab">tab</option>
      </select>
    </div>

    <div
      class="shadow-sm p-3 mb-5 bg-body rounded"
      style="position: fixed; top: 1rem; left: 1rem"
      #dismiss
    >
      <h4>Consentbar</h4>
      <div
        class="card shadow-sm p-3 mb-1 bg-body rounded"
        style="display: inline-block"
      >
        <h5>Reason for closing</h5>
        <div>
          <label>close</label>
          <button
            class="btn btn-outline-danger"
            type="button"
            style="border-radius: 45px"
            (click)="hadleClose()"
          >
            X
          </button>
        </div>

        <div>
          <label>disgusting</label>
          <input
            class="btn btn-outline-danger"
            type="checkbox"
            style="border-radius: 45px"
            (click)="hadleDisgusting()"
          />
        </div>

        <span class="input-group" *ngIf="!isDisgusting">
          <input
            type="text"
            (input)="hadleDismissText($event)"
            class="form-control"
            placeholder="describe reason"
          />
        </span>

        <input
          type="number"
          class="form-control mb-3"
          placeholder="Period of next display (days)"
          formControlName="expiration"
        />
        <div *ngIf="form.get('expiration')?.invalid" class="validation">
          <small>Period of consentbar can not be empty </small>
        </div>
      </div>
    </div>

    <button
      type="submit"
      class="btn btn-primary mt-3"
      [disabled]="form.invalid"
    >
      Submit
    </button>
  </form>
</div>
